{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema Ventas </title>

  <!-- Custom fonts for this template-->
  <link href="{% static  'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static  'base/css/sb-admin-2.min.css' %}" rel="stylesheet">

   <!-- Custom styles for this page -->
   <link href="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

   <!-- jQuery Confirm -->
  <link rel="stylesheet" href="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.css' %}">

  <!-- XDSoft DateTimePicker -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />  

  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
</head>
    <form method="post" id="frmCompras">
   
                <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                   
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <!-- Inicio Izquierda -->
                                    <div class="col-6">
                                        <!-- Inicio Encabezado -->
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Proveedor:</label>
                                            <div class="col-sm-10">
                                              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_fecha_compra">Fecha Compra:</label>
                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_descripcion">Descripción:</label>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_fecha_compra">No. Factura:</label>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_descripcion">Fecha Factura:</label>
                                                   
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="Sub Total">Sub Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_enc.sub_total }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="sub_total">Descuento:</label>
                                                    </div>
                                                    <div class="col">
                                                        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="total">Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fin Encabezado -->
                                    </div>
                                    
    </form>
